body {
  margin: 0;
  padding: 0;
  /* background: rgb(238, 237, 237); */
  background-color: blanchedalmond;
  height: 100%;
  font-family: Roboto;
}

main {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

header {
  background: rgb(21, 185, 177);
  color:  white;
  padding: 5px;
  position: absolute;
  top: 10px;
  left: 35%;
  box-shadow: 2px 0px 3px grey;
 
}
.container {
  width: 400px;
  background: white;
  padding: 20px;
  position: absolute;
  top: 40px;
  z-index: -1;
  box-shadow: 5px 5px 7px grey;
}

h1 {
  font-size: 14px;
}

#myHeader {
  text-align: center;
  padding: 10px;
}

#first {
  font-size: 30px;
  padding: 0px;
  margin: 0px;
}

#userinput {
  border: 2px solid orangered;
  padding: 5px;
}

#userinput:focus {
  outline: none !important;
  /* border: 2px solid orange; */
  background-color: orangered;
  color: white;
  transition: .5s ease;

}

#userinput:focus:-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white  ;
}
#userinput:focus:-moz-placeholder { /* Firefox 19+ */
  color: white  ;
}
#userinput:focus:-ms-input-placeholder { /* IE 10+ */
  color: white  ;
}
#userinput:focus:-moz-placeholder { /* Firefox 18- */
  color: white  ;
}

.btn {
  margin-top: 10px;
  border: 2px solid orangered;
  background: transparent;
  color: orangered;
  font-size: 13px;
  padding: 5px;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  margin-top: 10px;
  background-color: orangered;
  color: white;
  transition: .5s ease;
}

.done {
  text-decoration: line-through;
}

.close {
  float: right !important;
}

ul {
  list-style: none;
  padding: 10px;
  width: 200px;
  margin: auto;
  max-height: 100px;
  overflow-y: scroll;
  font-size: 14px;

}